.DS_Store
.AppleDouble
.LSOverride
Icon

__pycache__/
*.py[cod]
*$py.class


dist/
build/
*.egg-info/
.eggs/
*.egg

.ipynb_checkpoints/

.vscode/
.idea/

venv/
env/
.env
.venv/

.tox/
.coverage
htmlcov/
.pytest_cache/